<div class="habit <%= habit.kind %>-habit mar-tb-10">
	<div class="pure-g">

		<div class="pure-u-1-2">
			<div class="mar-10">
				<p><%= habit.title %></p>
			</div>
		</div>

		<div class="pure-u-1-2">
			<div class="mar-10 center">
				<p><%= habit_progress(habit) %></p>
			</div>
		</div>

	</div>
</div>
